{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur ce site</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto eum nulla nostrum veniam corporis facere voluptatem accusamus nihil nam, culpa alias ipsam minus, voluptatibus incidunt, laudantium eius. Iste, quam deleniti illo inventore consequatur fugit asperiores odit aspernatur culpa provident? Nesciunt.</p>
{% endblock %}
