{% extends 'base.html.twig' %}

{% block body %}
<section class="images">
    <article>
        <h2>Titre de l'image</h2>
        <div class="metadata">Crée le 10/01/2020</div>
        <div class="content"><img src="https://placehold.it/350x150" alt="">
            <br>
            <a href="{{ path('site_show') }}" class="btn btn-primary">Voir détails</a>
        </div>
        <h2>Titre de l'image</h2>
        <div class="metadata">Crée le 10/01/2020</div>
        <div class="content">
            <img src="https://placehold.it/350x150" alt="">
            <br>
            <a href="{{ path('site_show') }}" class="btn btn-primary">Voir détails</a>
        </div>
        <h2>Titre de l'image</h2>
        <div class="metadata">Crée le 10/01/2020</div>
        <div class="content">
            <img src="https://placehold.it/350x150" alt="">
            <br>
            <a href="{{ path('site_show') }}" class="btn btn-primary">Voir détails</a>
            </div>
    </article>
</section>
{% endblock %}