{% extends 'base.html.twig' %}

{% block body %}
<section class="images">

    {% for document in documents %}
    <article>
        <h2>{{document.title}}</h2>
        <div class="metadata">Crée le 10/01/2020</div>
        <div class="content"><img src="{{document.image}}" alt="">
            <br>
            <br>
            <a href="{{ path('site_show', {'id' : document.id }) }}" class="btn btn-primary">Voir détails</a>
        </div>
        <br>
    </article>
    <br>

    {% endfor %}

</section>
{% endblock %}