{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>Titre de l'image</h2>
        <div class="metadata">Crée le 10/01/2020</div>
        <img src="https://placehold.it/500x300" alt="">
        <div class="info">
            <p>
                <h3>Texte extrait de l'image</h3>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tenetur odio nulla rem ab, eaque magni aut dolore? Expedita corrupti minus laudantium error ex necessitatibus, aspernatur molestiae maxime, modi commodi optio labore iusto quos distinctio repudiandae vel! Laboriosam nulla odio possimus, officia facilis, laborum ducimus totam quos, molestias impedit ipsam perspiciatis ex ullam sequi molestiae sed excepturi blanditiis. Vitae exercitationem aliquid eius suscipit quo necessitatibus, ut nulla facere. Magnam eligendi dolorem laudantium alias nulla voluptates molestiae explicabo ad! Dignissimos, obcaecati adipisci. Error, beatae reiciendis tenetur eaque obcaecati dignissimos consequuntur porro ad, quibusdam quos mollitia dolore. Sed explicabo corporis cupiditate maiores!
            </p>
        </div>
    </article>
{% endblock %}